:root {
  --primary: #305a60;

  --space-m: 1.5em;
  --space-l: 4em;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
    -5px -5px 15px rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
}

header img {
  width: 100%;
  max-width: 800px;
}

main {
  margin: var(--space-l) 0;
  align-self: center;
  display: flex;
}

.displayed-figure,
.gallery {
  flex-basis: 48%;
  /* flex-grow: 1; */
}

.displayed-figure img {
  width: 100%;
  /* max-width: 700px; */
}

footer {
  padding: var(--space-m);
  justify-self: center;
  font-size: 0.8rem;
  text-align: center;
}

footer img {
  width: 30px;
  transform: translateY(40%);
}

a {
  color: var(--primary);
}
